{% extends 'base.html' %}

{% block title %}Entendimiento de los Datos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Entendimiento de los Datos</h1>
    
    <h3>Dataset Utilizado</h3>
    <p>
        El dataset utilizado para este proyecto proviene del repositorio UCI, específicamente adaptado para la población joven de Bogotá. Las variables incluidas son:
    </p>
    
    <ul>
        <li>Edad (15-29 años)</li>
        <li>Género</li>
        <li>Nivel de actividad física</li>
        <li>IMC (Índice de Masa Corporal)</li>
        <li>Presión arterial</li>
        <li>Consumo de tabaco/alcohol</li>
        <li>Hábitos alimenticios</li>
        <li>Nivel de estrés</li>
    </ul>
</div>
{% endblock %}