{% extends 'base.html' %}

{% block title %}Riesgo Cardiovascular{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Bienvenido al programa de predicción de riesgo cardiovascular en jóvenes</h1>
        <div class="mt-4">
            <p class="lead">
                Sistema de predicción temprana para evaluar el riesgo cardiovascular en la población joven de Bogotá
            </p>
        </div>
    </div>
</div>
{% endblock %}
