{% extends 'base.html' %}

{% block title %}Ingeniería de los Datos{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Ingeniería de los Datos</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <h3>Selección</h3>
    <ul>
        <li>Variables consideradas: Edad, Género, Actividad Física, Hábitos Alimenticios, IMC, Presión Arterial, Consumo de Sustancias y Nivel de Estrés.</li>
    </ul>

    <h3>Limpieza</h3>
    <ul>
        <li>Validación de la estructura del dataset, eliminación de registros duplicados y control de valores atípicos si se identifican.</li>
        <li>Preparación de las variables categóricas mediante codificación adecuada para su uso en algoritmos de machine learning.</li>
    </ul>

    <h3>Transformación</h3>
    <ul>
        <li>Clasificación de variables como IMC y presión arterial según rangos clínicos reconocidos.</li>
        <li>Generación de la variable objetivo “Riesgo” (bajo, medio, alto), utilizando reglas heurísticas basadas en combinaciones de factores de riesgo.</li>
        <li>Normalización de variables continuas si se considera pertinente para el modelo.</li>
    </ul>

    <h3>Documentación</h3>
    <ul>
        <li>Registro detallado de cada transformación aplicada sobre los datos, para garantizar la trazabilidad, reproducibilidad y auditabilidad del modelo.</li>
    </ul>
</div>
{% endblock %}
